{% extends 'base.html' %}
{% load static %}

{% block sidebar-menu %}
	<li class="active">
		<a href="#">
			<i class="fas fa-tachometer-alt"></i> Dashboard
		</a>
	</li>
	<li class="">
		<a href="#">
			<i class="fas fa-plus"></i> Nova Solicitação
		</a>
	</li>
	<li class="">
		<a href="#">
			<i class="fas fa-list-ul"></i> Meus Protocolos
		</a>
	</li>
	<li class="">
		<a href="#">
			<i class="fas fa-bug"></i> Erros
		</a>
	</li>

	<!--<li>
		<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
		<ul class="collapse list-unstyled" id="pageSubmenu">
			<li>
				<a href="#">Page 1</a>
			</li>
			<li>
				<a href="#">Page 2</a>
			</li>
			<li>
				<a href="#">Page 3</a>
			</li>
		</ul>
	</li>-->
{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<canvas id="productsChart" height="100"></canvas>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'Chart/Chart.js' %}"></script>

	<script>
	var ctx = document.getElementById("productsChart");
	var names = JSON.parse('{{ names|safe }}');
	var prices = JSON.parse('{{ prices|safe }}');
	var productsChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: names,
        datasets: [{
            label: 'Produtos',
            data: prices,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
	</script>
{% endblock %}