{% extends 'base.html' %}

{% block sidebar-menu %}
	<li class="active">
		<a href="#">
			<i class="fas fa-tachometer-alt"></i> Dashboard
		</a>
	</li>
	<li class="">
		<a href="#">
			<i class="fas fa-plus"></i> Nova Solicitação
		</a>
	</li>
	<li class="">
		<a href="#">
			<i class="fas fa-list-ul"></i> Meus Protocolos
		</a>
	</li>
	<li class="">
		<a href="#">
			<i class="fas fa-bug"></i> Erros
		</a>
	</li>

	<!--<li>
		<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
		<ul class="collapse list-unstyled" id="pageSubmenu">
			<li>
				<a href="#">Page 1</a>
			</li>
			<li>
				<a href="#">Page 2</a>
			</li>
			<li>
				<a href="#">Page 3</a>
			</li>
		</ul>
	</li>-->
{% endblock %}

{% block main %}

{% endblock %}