{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet"
	       href="{% static 'bootstrap/css/bootstrap.css' %}"
	/>
	<link type="text/css" rel="stylesheet"
			href="{% static 'int/css/base.css' %}"
	/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	      crossorigin="anonymous"
	/>
	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
	/>
	<title>{% block title %} {% endblock %}</title>
	{% block styleInline %} {% endblock %}
</head>
	<header>
		<nav class="fixed-top nav-menu">
			<div class="row full-menu">
				<div class="col-2">
					<div class="row" style="line-height: 68px;">
						<div class="col-6 icon-menu text-center" style="padding: 0">
							<button type="button" onclick="moduleHide()" class="btn-menu">
								<i class="fas fa-home"></i>
							</button>
						</div>
						<div class="col-6 icon-menu text-left">
							<button type="button" onclick="menuHide()" class="btn-menu">
								<i class="fas fa-bars"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-8">
					<div class="row" style="height: 68px; align-items: center">
						<input type="text" class="input-search" placeholder="Pesquisar">
					</div>
				</div>
				<div class="col-2">
					<div class="row" style="line-height: 68px;">
						<div class="col-6 icon-menu text-right">
							<i class="fas fa-bell"></i>
						</div>
						<div class="col-6 icon-menu text-center">
							<i class="fas fa-user"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row min-menu">
				<div class="row">
					<div class="col-6" style="line-height: 68px;">
						<div class="row">
							<div class="col-3 icon-menu text-center">
								<button type="button" onclick="" class="btn-menu icon-menu" style="height: 68px">
									<i class="fas fa-home"></i>
								</button>
							</div>
							<div class="col-3 icon-menu text-center">
								<button type="button" onclick="menuHide()" class="btn-menu icon-menu" style="height: 68px">
									<i class="fas fa-bars"></i>
								</button>
							</div>
							<div class="col-6"></div>
						</div>
					</div>
					<div class="col-6">
						<div class="row" style="line-height: 68px;">
							<div class="col-6"></div>
							<div class="col-3 icon-menu text-center">
								<i class="fas fa-bell"></i>
							</div>
							<div class="col-3 icon-menu text-center">
								<i class="fas fa-user"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
<body>

<div class="wrapper">
    <!-- Barra de Menus -->
    <nav id="sidebar" class="active-menu">
        <ul class="list-unstyled components">
	        {% block sidebar-menu %} {% endblock %}
        </ul>
    </nav>
	<nav id="sidebar2" class="active-menu"></nav>
	<!-- Barra Seleção de Modulos -->
	<nav id="sidemod">
		<ul class="list-unstyled components">
			{% block modbar %} {% endblock %}
		</ul>
	</nav>

	<!-- Conteudo da página -->
    <div id="content">
	    <div class="container">
		    {% block main %} {% endblock %}
	    </div>
    </div>
</div>

	{% block static %} {% endblock %}
	<!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
    ></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"
    ></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
		    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"
    ></script>
	{% block scripts %} {% endblock %}
	<script src="{% static 'int/js/menu.js' %}"></script>
</body>
</html>